page-players-stats {
    .list{
        margin:$content-padding;
        @extend %outerShadow;
        border-radius:$control-radius;
        padding:0px $content-padding;
        .item{
            &.item-block{
                border-bottom:1px solid color($colors,color4);
                width:100%;
                border-radius:0px;
                &:last-of-type{
                    border-bottom:none;
                }
            }
        }
    }
}
